:root {
  --color-light-blue: #97DAFF;
  --color-blue: #3BA8E5;
  --color-dark-blue: #00456B;
  
  --color-green: #2BC91D;
  --color-dark-green: #096D00;

  --color-black: #0E131F;
  --color-white: #EFF1F5;
}

* {
  margin: 0;
  padding: 0;

  border: none;
  outline: none;

  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-size: 1rem;
  line-height: 1.15;
  /* Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%;
  /*Prevent adjustments of font size after orientation changes in iOS. */
}

body {
  margin: 0;
  /* Remove the margin in all browsers. */

  background-color: var(--color-white);

  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

main {
  width: 100vw;
  height: auto;

  position: relative;

  display: block;
}

body,
html {
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--color-black);
  border-radius: 16px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border-radius: 16px;
}

/* Correção de estilos de elementos padrão */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  line-height: 120%;
}

h1, h2, h3, h4, h5, h6, p, small, span {
  position: relative;
  margin: 0;
  padding: 0;
  
  color: var(--color-black);
}

p, small, span, a.cta {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  line-height: 150%;
}

i {
  color: var(--color-black);
}

a {
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}

picture img {
  width: 100%;
  height: 100%;

  position: relative;

  object-fit: contain;
  border-style: none;
}

/* Remove the inner border and padding in Firefox. */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Restore the focus styles unset by the previous rule. */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

button:hover {
  cursor: pointer;
}

.fa, .fa-solid, .fas {
  line-height: 1.5 !important;
}

.container {
  width: 100vw;
  height: auto;

  position: relative;
  margin: 0;
  padding: 0;
}

.column {
  width: 100%;

  position: relative;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;

  position: relative;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
}

span.s-bold {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}

span.bold {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}

span.d-blue {
  color: var(--color-dark-blue);
}

span.l-blue {
  color: var(--color-light-blue);
}

span.medium {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}

a.cta {
  padding: 16px 32px;
  
  border-radius: 4px;
  
  background: linear-gradient(135deg, var(--color-green) 0%, var(--color-dark-green) 100%);
  color: var(--color-white);
  
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}

a.cta:hover {
  background: linear-gradient(135deg, var(--color-blue) 0%, var(--color-dark-blue) 100%);
}

/* Definindo o estilo para a animação de loading */
.loading {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  
  background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo com transparência */
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3); /* Cor da borda do spinner */
  border-top: 4px solid #fff; /* Cor da borda do spinner na parte superior */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; /* Define a animação */

  z-index: 200;
}

/* Definindo a animação de rotação */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fade-in {
  animation: fadeInAnimation 2s ease-in-out;
}

/* Defina a animação de opacidade */
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOutAnimation 3s ease-in-out;
}

/* Defina a animação de opacidade ao sair */
@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}